@font-face {
    font-family: 'wes';
    src: url('../assets/Wes FY W03 Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'industry';
    src: url('../assets/Industry-Book.ttf') format('truetype');
}
  
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    text-align: center;
    color: #F2F2F8;
}

.int-img {
    width: 600px;
}

.solution-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    text-align: center;
    color: #F2F2F8;
    padding: 15px;
    border: none;
}

.temp-background {
    background-color: #191919;
    color: #F2F2F8;
    padding: 15px;
    height:100px;
    overflow: hidden;
    border: none;
}

.solution-container-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F8;
    text-align: center;
    color: #191919;
    padding: 15px;
}

.career-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    text-align: center;
    color: #F2F2F8;
    padding: 15px;
}

#int-img {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

#scc-img {
    width: 90%;
    max-width: 6000px;
    height: auto;
    margin: 20px 0;
}

#suv-img {
    width: 90%;
    max-width: 1175px;
    height: auto;
    margin: 20px 0;
}

#sdho-img {
    width: 80%;
    max-width: 6000px;
    height: auto;
    margin: 20px 0;
}

.header-one {
    font-family: 'wes';
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 20px 0;
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.header-two {
    font-family: 'industry';
    font-size: clamp(1.5rem, 2vw, 4rem);
    margin: 20px 0;
    max-width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-three {
    font-family: 'wes';
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 20px 0;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-four {
    font-family: 'wes';
    font-size: clamp(2rem, 3vw, 4rem);
    margin: 20px 0;
    max-width: 80%;
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-five {
    font-family: 'wes';
    font-size: clamp(2rem, 3vw, 4rem);
    margin: 20px 0;
    max-width: 80%;
    max-width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    align-items: center;
    max-width: 100%;
    padding: 0 20px;
}

.left-column {
    display: flex;
    justify-content: center;
}

.right-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.description {
    max-width: 90%;
}

.description h2 {
    font-family: 'wes';
    font-size: clamp(2rem, 5vw, 2rem);
    text-align: left;
}

.description p {
    font-family: 'industry';
    font-size: clamp(1.5rem, 3vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
}

.desc2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    gap: 80px;
    align-items: center;
    margin: 0 auto;
}

.desc2 p {
    font-family: 'industry';
    font-size: clamp(1.25rem, 3vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
    max-width: 20vw;
}

.p1 {
    margin-bottom: 180px;
}

.p2 {
    margin-bottom: 180px;
}

.p3 {
    margin-bottom: 180px;
}

.p4 {
    margin-bottom: 180px;
}

.p4 p {
    font-family: 'industry';
    line-height: 1.6;
    font-size: clamp(1.5rem, 3vw, 1.25rem);
    max-width: 80%;
    max-width: 500px;
    justify-content: center;
    text-align: left;
    margin: 0 auto 20px;
    padding: 0 10px;
}

.p5 {
    background-color: #F2F2F8;
    color:#191919;
    width: 100%;
    margin-bottom: 180px;
}

.p5 h2 {
    font-family: 'wes';
    font-size: clamp(2rem, 3vw, 4rem);
    margin: 20px 0;
    max-width:100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.p5 p {
    font-family: 'industry';
    font-size: clamp(1.5rem, 2vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
    max-width: 90%;
    max-width: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.p5 a {
    font-family: 'industry';
    font-size: clamp(1.5rem, 2vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
    max-width: 40%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.p6 {
    margin-bottom: 180px;
}

.type-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 5%;
}

.type-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.p6 h2 {
    display: block;
    font-family: 'wes';
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin: 20px 0;
    max-width:90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 13%;
}

.p6 p {
    font-family: 'industry';
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
    max-width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img-set {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 100%;
    margin: 80px auto;
    position: relative;
    padding: 0 15px;
    overflow: hidden;
}

.drone-img {
    width: 80%;
    max-width: 250px;
    height: auto;
    position: relative;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    z-index: 1;
}

.p7 {
    margin-bottom: 180px;
    padding: 15px;
}

.about-video {
    width: 90%;
    height: auto;
}

.p7 h1 {
    font-family: 'wes';
    font-size: clamp(2rem, 3vw, 8rem);
    max-width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.p8 h1 {
    font-size: clamp(2rem, 3vw, 8rem);
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.career-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 60%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.button-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 80%;
    padding: 0 20px;
    justify-content: top;
}

button {
    font-family: 'industry';
    background: linear-gradient(to bottom, #055594 50%, #F2F2F8 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: #F2F2F8;
    width: 275px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #055594;
    white-space: nowrap;
    transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
    font-size: 1rem;
}

button:hover {
    background-position: 0 100%;
    color: #055594;
    transform: translateY(-2px);
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}
.p8 {
    margin-bottom: 180px;
}

.p8 p {
    font-family: 'industry';
    font-size: clamp(1rem, 1.4vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
    max-width: 80%;
    max-width: 500px;
    justify-content: center;
    margin: 0 auto 20px;
    padding: 0 10px;
}

.p8 h2 {
    font-size: clamp(1.5rem, 2.5vw, 8rem);
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px){
    .p7 h1 {
        max-width: 90%;
    }

    .drone-img {
        width: 70%;
        max-width: 200px
    }

    .drone-img:nth-child(1) { 
        transform: translateX(25%);
        z-index: 2;
    }

    .drone-img:nth-child(2) { 
        transform: translateX(0%);
        z-index: 3;
    }

    .drone-img:nth-child(3) { 
        transform: translateX(-25%);
        z-index: 4;
    }

    .p4 p {
        max-width: 80%;
        max-width: 600px;
    }

    .type-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        margin-right: auto;
    }

    .type-img {
        max-width: 300px;
        max-width: 60%;
    }

    .p6 h2 {
        max-width: 90%;
        text-align: center;
        font-size: clamp(2rem, 2.5vw, 4rem);

    }

    .p6 p {
        max-width: 90%;
        text-align: center;
        font-size: clamp(1.25rem, 2.5vw, 4rem);
    }
    

    .desc2 {
        grid-template-columns: 1fr;
        gap: 5px
    }

    .desc2 p {
        max-width: 90%;
        text-align: center;
    }

    .desc {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    
      .left-column,
      .right-column {
        width: 100%;
        display: block;
      }
}

@media screen and (max-width: 900px) {
    .drone-img {
        width: 60%;
        max-width: 180px;
    }

    .drone-img:nth-child(1) { 
        transform: translateX(40%);
        z-index: 2;
    }

    .drone-img:nth-child(2) { 
        transform: translateX(0%);
        z-index: 3;
    }

    .drone-img:nth-child(3) { 
        transform: translateX(-40%);
        z-index: 4;
    }

    .type-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width:90%;
        margin-left: auto;
        margin-right: auto;
    }

    .p6 p {
        max-width: 90%;
        text-align: center;
    }

    .p6 img {
        max-width: 50%;
        text-align: center;
    }

    .career-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

  @media screen and (max-width: 600px) {
    .drone-img {
        width: 50%;
        max-width: 160px;
    }

    .drone-img:nth-child(1) { 
        transform: translateX(60%);
        z-index: 2;
    }

    .drone-img:nth-child(2) { 
        transform: translateX(0%);
        z-index: 3;
    }

    .drone-img:nth-child(3) { 
        transform: translateX(-60%);
        z-index: 4;
    }
}

@media screen and (max-width: 500px) {
    .drone-img {
        width: 40%;
        max-width: 140px;
    }

    .drone-img:nth-child(1) { 
        transform: translateX(80%);
        z-index: 2;
    }

    .drone-img:nth-child(2) { 
        transform: translateX(0%);
        z-index: 3;
    }

    .drone-img:nth-child(3) { 
        transform: translateX(-80%);
        z-index: 4;
    }
}